USE [master]
GO
/****** Object:  Database [PublicLibraryConsortium]    Script Date: 28/06/2026 1:04:24 pm ******/
CREATE DATABASE [PublicLibraryConsortium]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PublicLibraryConsortium', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PublicLibraryConsortium.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PublicLibraryConsortium_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\PublicLibraryConsortium_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PublicLibraryConsortium].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PublicLibraryConsortium]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 28/06/2026 1:04:25 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[book_id] [int] IDENTITY(1,1) NOT NULL,
	[isbn] [varchar](20) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[author] [varchar](150) NOT NULL,
	[genre] [varchar](80) NULL,
	[publish_year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 28/06/2026 1:04:25 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[member_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [varchar](80) NOT NULL,
	[last_name] [varchar](80) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[phone] [varchar](20) NULL,
	[member_status] [varchar](20) NOT NULL,
	[join_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book_Copies]    Script Date: 28/06/2026 1:04:25 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Copies](
	[copy_id] [int] IDENTITY(1,1) NOT NULL,
	[book_id] [int] NOT NULL,
	[barcode_label] [varchar](30) NOT NULL,
	[copy_condition] [varchar](20) NOT NULL,
	[availability_status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[copy_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book_Loans]    Script Date: 28/06/2026 1:04:25 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book_Loans](
	[loan_id] [int] IDENTITY(1,1) NOT NULL,
	[copy_id] [int] NOT NULL,
	[member_id] [int] NOT NULL,
	[loan_date] [date] NOT NULL,
	[due_date] [date] NOT NULL,
	[return_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[loan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OverdueLoanFulfillment]    Script Date: 28/06/2026 1:04:25 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_OverdueLoanFulfillment] AS
SELECT b.title AS book_title, bc.barcode_label,
       m.first_name + ' ' + m.last_name AS borrower_name,
       bl.due_date, DATEDIFF(DAY, bl.due_date, GETDATE()) AS days_overdue
FROM Book_Loans bl
INNER JOIN Book_Copies bc ON bl.copy_id = bc.copy_id
INNER JOIN Books b ON bc.book_id = b.book_id
INNER JOIN Members m ON bl.member_id = m.member_id
WHERE bl.return_date IS NULL AND bl.due_date < CAST(GETDATE() AS DATE);
GO
/****** Object:  View [dbo].[vw_CatalogCirculationSummary]    Script Date: 28/06/2026 1:04:25 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_CatalogCirculationSummary] AS
SELECT b.book_id, b.title,
       COUNT(DISTINCT bc.copy_id) AS total_copies_owned,
       COUNT(DISTINCT CASE WHEN bl.return_date IS NULL THEN bl.loan_id END) AS active_loans,
       COUNT(bl.loan_id) AS lifetime_total_loans
FROM Books b
LEFT JOIN Book_Copies bc ON b.book_id = bc.book_id
LEFT JOIN Book_Loans bl ON bc.copy_id = bl.copy_id
GROUP BY b.book_id, b.title;

GO
SET IDENTITY_INSERT [dbo].[Book_Copies] ON 

INSERT [dbo].[Book_Copies] ([copy_id], [book_id], [barcode_label], [copy_condition], [availability_status]) VALUES (1, 1, N'BC-1001', N'Good', N'Available')
INSERT [dbo].[Book_Copies] ([copy_id], [book_id], [barcode_label], [copy_condition], [availability_status]) VALUES (2, 1, N'BC-1002', N'New', N'Available')
INSERT [dbo].[Book_Copies] ([copy_id], [book_id], [barcode_label], [copy_condition], [availability_status]) VALUES (3, 2, N'BC-1003', N'Good', N'Available')
SET IDENTITY_INSERT [dbo].[Book_Copies] OFF
GO
SET IDENTITY_INSERT [dbo].[Book_Loans] ON 

INSERT [dbo].[Book_Loans] ([loan_id], [copy_id], [member_id], [loan_date], [due_date], [return_date]) VALUES (1, 3, 1, CAST(N'2026-06-08' AS Date), CAST(N'2026-06-22' AS Date), CAST(N'2026-06-28' AS Date))
INSERT [dbo].[Book_Loans] ([loan_id], [copy_id], [member_id], [loan_date], [due_date], [return_date]) VALUES (2, 6, 2, CAST(N'2026-06-18' AS Date), CAST(N'2026-07-02' AS Date), NULL)
INSERT [dbo].[Book_Loans] ([loan_id], [copy_id], [member_id], [loan_date], [due_date], [return_date]) VALUES (3, 13, 3, CAST(N'2026-05-29' AS Date), CAST(N'2026-06-12' AS Date), CAST(N'2026-06-26' AS Date))
SET IDENTITY_INSERT [dbo].[Book_Loans] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([book_id], [isbn], [title], [author], [genre], [publish_year]) VALUES (1, N'978-1234567897', N'Brave New World', N'Aldous Huxley', N'Dystopian', 1932)
INSERT [dbo].[Books] ([book_id], [isbn], [title], [author], [genre], [publish_year]) VALUES (2, N'978-0451524935', N'1984', N'George Orwell', N'Dystopian', 1949)
INSERT [dbo].[Books] ([book_id], [isbn], [title], [author], [genre], [publish_year]) VALUES (3, N'978-0141439518', N'Pride and Prejudice', N'Jane Austen', N'Romance', 1813)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([member_id], [first_name], [last_name], [email], [phone], [member_status], [join_date]) VALUES (1, N'Ali', N'Khan', N'ali.khan@example.com', N'03001234567', N'Active', CAST(N'2026-06-28' AS Date))
INSERT [dbo].[Members] ([member_id], [first_name], [last_name], [email], [phone], [member_status], [join_date]) VALUES (2, N'Sara', N'Ahmed', N'sara.ahmed@example.com', N'03007654321', N'Active', CAST(N'2026-06-28' AS Date))
INSERT [dbo].[Members] ([member_id], [first_name], [last_name], [email], [phone], [member_status], [join_date]) VALUES (3, N'Bilal', N'Iqbal', N'bilal.iqbal@example.com', NULL, N'Active', CAST(N'2026-06-28' AS Date))
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Book_Cop__DABB1CEDF38B57FF]    Script Date: 28/06/2026 1:04:26 pm ******/
ALTER TABLE [dbo].[Book_Copies] ADD UNIQUE NONCLUSTERED 
(
	[barcode_label] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Books__99F9D0A423B8EFB8]    Script Date: 28/06/2026 1:04:26 pm ******/
ALTER TABLE [dbo].[Books] ADD UNIQUE NONCLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Members__AB6E61644C6EAFA7]    Script Date: 28/06/2026 1:04:26 pm ******/
ALTER TABLE [dbo].[Members] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book_Copies] ADD  DEFAULT ('Good') FOR [copy_condition]
GO
ALTER TABLE [dbo].[Book_Copies] ADD  DEFAULT ('Available') FOR [availability_status]
GO
ALTER TABLE [dbo].[Book_Loans] ADD  DEFAULT (getdate()) FOR [loan_date]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT (getdate()) FOR [join_date]
GO
ALTER TABLE [dbo].[Book_Copies]  WITH CHECK ADD  CONSTRAINT [FK_Copies_Books] FOREIGN KEY([book_id])
REFERENCES [dbo].[Books] ([book_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Book_Copies] CHECK CONSTRAINT [FK_Copies_Books]
GO
ALTER TABLE [dbo].[Book_Loans]  WITH CHECK ADD  CONSTRAINT [FK_Loans_Copies] FOREIGN KEY([copy_id])
REFERENCES [dbo].[Book_Copies] ([copy_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Book_Loans] CHECK CONSTRAINT [FK_Loans_Copies]
GO
ALTER TABLE [dbo].[Book_Loans]  WITH CHECK ADD  CONSTRAINT [FK_Loans_Members] FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Book_Loans] CHECK CONSTRAINT [FK_Loans_Members]
GO
ALTER TABLE [dbo].[Book_Copies]  WITH CHECK ADD  CONSTRAINT [CK_Copies_Availability] CHECK  (([availability_status]='Withdrawn' OR [availability_status]='Lost' OR [availability_status]='On Loan' OR [availability_status]='Available'))
GO
ALTER TABLE [dbo].[Book_Copies] CHECK CONSTRAINT [CK_Copies_Availability]
GO
ALTER TABLE [dbo].[Book_Copies]  WITH CHECK ADD  CONSTRAINT [CK_Copies_Condition] CHECK  (([copy_condition]='Damaged' OR [copy_condition]='Worn' OR [copy_condition]='Good' OR [copy_condition]='New'))
GO
ALTER TABLE [dbo].[Book_Copies] CHECK CONSTRAINT [CK_Copies_Condition]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [CK_Members_Status] CHECK  (([member_status]='Expired' OR [member_status]='Suspended' OR [member_status]='Active'))
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [CK_Members_Status]
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckoutBookCopy]    Script Date: 28/06/2026 1:04:26 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CheckoutBookCopy]
    @MemberID INT, @CopyID INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DECLARE @MemberStatus VARCHAR(20), @CopyStatus VARCHAR(20);
        SELECT @MemberStatus = member_status FROM Members WHERE member_id = @MemberID;
        SELECT @CopyStatus = availability_status FROM Book_Copies WHERE copy_id = @CopyID;

        IF @MemberStatus IS NULL RAISERROR('Member not found.', 16, 1);
        IF @MemberStatus <> 'Active' RAISERROR('Checkout denied: member is not Active.', 16, 1);
        IF @CopyStatus IS NULL RAISERROR('Copy not found.', 16, 1);
        IF @CopyStatus <> 'Available' RAISERROR('Checkout denied: copy is not Available.', 16, 1);

        INSERT INTO Book_Loans (copy_id, member_id, loan_date, due_date)
        VALUES (@CopyID, @MemberID, GETDATE(), DATEADD(DAY, 14, GETDATE()));

        UPDATE Book_Copies SET availability_status = 'On Loan' WHERE copy_id = @CopyID;

        COMMIT TRANSACTION;
        PRINT 'Checkout successful.';
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRANSACTION;
        PRINT 'Checkout failed: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ReturnBookCopy]    Script Date: 28/06/2026 1:04:26 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ReturnBookCopy]
    @LoanID INT
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        DECLARE @CopyID INT, @AlreadyReturned DATE;
        SELECT @CopyID = copy_id, @AlreadyReturned = return_date
        FROM Book_Loans WHERE loan_id = @LoanID;

        IF @CopyID IS NULL RAISERROR('Loan record not found.', 16, 1);
        IF @AlreadyReturned IS NOT NULL RAISERROR('This loan has already been returned.', 16, 1);

        UPDATE Book_Loans SET return_date = GETDATE() WHERE loan_id = @LoanID;
        UPDATE Book_Copies SET availability_status = 'Available' WHERE copy_id = @CopyID;

        COMMIT TRANSACTION;
        PRINT 'Return processed successfully.';
    END TRY
    BEGIN CATCH
        IF XACT_STATE() <> 0 ROLLBACK TRANSACTION;
        PRINT 'Return failed: ' + ERROR_MESSAGE();
    END CATCH
END;
GO
USE [master]
GO
